# Require when run on docker prod
DOCKER_APP_EXPOSE_PORT="8980"
DOCKER_PROXY_HOST="Host(`100.108.173.73`) || Host(`100.88.117.62`) || Host(`api.localhost`) || Host(`localhost:3030`) || Host(`dev-api2.comcamp.io`) || Host(`dev-api2.comcamp.io:4842`) || Host(`api.comcamp.io`) || Host(`dev-api.comcamp.io`) || Host(`localhost`) || Host(`dev-cc37.aboutnon.in.th`)"

# Commmon setup
APP_PORT="3030"
APP_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501,http://localhost:3000,https://h8lwvw8x-3000.asse.devtunnels.ms"
APP_FRONTEND_URL="http://localhost:3000"
APP_DOMAIN="comcamp.io"
APP_ENV="DEV"

# Google OAuth credentials
AUTH_JWT_SECRET="TUNGTUNGTUNGSAHUR"
AUTH_GOOGLE_CLIENT_ID=""
AUTH_GOOGLE_CLIENT_SECRET=""
AUTH_GOOGLE_CALLBACK_URL="http://localhost:3030/student/google/callback"

# Database (Supabase recommend)
DATABASE_URL=""

# S3 credentials (Support All S3 compatible (CF R2, Minio))
S3_REGION="KEYES" 
S3_ENDPOINT="https://storage.comcamp.io"
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET="upload"

# Better Auth
BETTER_AUTH_SECRET="TUNGTUNGTUNGSAHUR"
BETTER_AUTH_URL="http://localhost:3030"

# Resend credentials (if u wanna use comcamp.io as email domain but comcamp 37 no money then we just use google mail instead ;-;) (100 mails/days)
RESEND_API_KEY=""
RESEND_API_NAME="no-reply"
RESEND_API_DOMAIN=""

# Mail credentials setup (500 mails/day) ()
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USER="" # A email of gmail (TUNGTUNGTUNGSAHUR@gmail.com)
MAIL_PASS="" # Go to https://myaccount.google.com/apppasswords to get App Password
MAIL_FROM="TUNGTUNGTUNGSAHUR 37 <TUNGTUNGTUNGSAHUR@gmail.com>" # anything but with this format

# Optional: Discord Webhook Logging 
LOGGING_WEBHOOK_URL="https://discord.com/api/webhooks/"

# Regis time allow
REGISTER_PERIOD_BYPASS="true"
REGISTER_PERIOD_START="2026-02-23T14:00:00+07:00"
REGISTER_PERIOD_END="2026-03-10T23:59:59+07:00"

# Comfirm period allow
RESULT_ANNOUNCE_AND_CONFIRM_PERIOD_BYPASS="true"
RESULT_ANNOUNCE_AND_CONFIRM_PERIOD_START="2026-03-21T00:00:00+07:00"
RESULT_ANNOUNCE_AND_CONFIRM_PERIOD_END="2026-03-22T23:59:59+07:00"

# Easyslip credentials (A payment verification api)
API_EASYSLIP_KEY=""

# payment config
PAYMENT_BYPASS="true"
PAYMENT_AMOUNT="1"