APP_PORT="3030"
APP_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501"
APP_FRONTEND_URL="http://localhost"

AUTH_JWT_SECRET=""
AUTH_GOOGLE_CLIENT_ID=""
AUTH_GOOGLE_CLIENT_SECRET=""
AUTH_GOOGLE_CALLBACK_URL=""

DATABASE_URL=""

S3_REGION=""
S3_ENDPOINT=""
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""


BETTER_AUTH_SECRET="KEYES"
BETTER_AUTH_URL="http://localhost:3030"